<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>691534426175-n0lv8jov0g3r4prmm22p1c36fl5hajij.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.691534426175-n0lv8jov0g3r4prmm22p1c36fl5hajij</string>
	<key>API_KEY</key>
	<string>AIzaSyDHnwz-TPuYzAwYGpxDzvHU97A3ieYLXzI</string>
	<key>GCM_SENDER_ID</key>
	<string>691534426175</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tech.creativelab.letrente</string>
	<key>PROJECT_ID</key>
	<string>le-trente-app-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>le-trente-app-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:691534426175:ios:30adacae032d5e7b6cc88a</string>
	<key>DATABASE_URL</key>
	<string>https://le-trente-app-mobile.firebaseio.com</string>
</dict>
</plist>